<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Andres Baeza - From Behind the Desk</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="background-color">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">Andres Baeza</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-main">
      <h1 class="welcome">Welcome</h1>
      <p class="introduction"><%= home %></p>
    </div>

  </div>

  <div class="container-main-2">

    <!-- controls flow of card posts -->
    <div class="row">
      <%# Iterates through the newPost array (which is part of posts DB) and taps into the 'title' %>
      <% newPost.forEach(function (post) { %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body text-left">
            <img src="images/flora.jpg" class="card-img-top" alt="pine tree in rain">
            <h5 class="card-title"><%= post.title %></h5>
            <p></p>
            <p class="card-text">
              <%# limts to only 100 characters %>
              <%= post.content.substring(0, 100) + '...' %>
            </p>
              <a href="/post/<%= post.title%>" class="btn btn-primary">Read More</a>
              <a href="/edit/<%= post._id%>" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

  </div>


  <footer>
    <div>
      <p>Copyright 2022 © Andres Baeza</p>
    </div>
  </footer>

</body>

</html>
